Flask
llama-index
llama-index-llms-groq
scikit-learn
groq==0.4.2
google-genai
numpy

gunicorn
pinecone
llama-index-embeddings-cohere
llama-index-vector-stores-pinecone
fastapi
uvicorn
asyncpg  # PostgreSQL async driver
aiomysql  # MySQL async driver
oracledb[async] # Oracle async driver
pandas  # For handling schema details
sqlparse # For SQL validation